@use 'variables';

//HELPFUL CLASSES

.button {
    background-color: map-get(variables.$colors, "color2");
    border: variables.$default-border;
    border-radius: variables.$default-border-radius;
    font-family: map-get(variables.$fonts, "font1"), sans-serif;
    color: map-get(variables.$colors, "color3");
    cursor: pointer;
    &:hover {
        background-color: #f0f0f0;
    }
}

.showcase-section__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase-section__span {
    height: 2px;
    background-color: map-get(variables.$colors, "color3");
}

.showcase-section__h2 {
    font-family: map-get(variables.$fonts, "font2"), sans-serif;
    color: map-get(variables.$colors, "color3");
    text-align: center;
}

.labels {
    font-size: map-get(variables.$default-font-sizes, "font-size4");
    letter-spacing: .06rem;
}

.non-radio-labels {
    display: block;
    margin: map-get(variables.$default-sizes, 'size6') 0 0.44rem;
}

.inputs {
    font-family: inherit;
    color: inherit;
    border: variables.$default-border;
    width: 100%;
    height: 1.875rem;
}

//HELPFUL CLASSES