@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("../fonts/HelveticaNeueRegular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.pos-a-w-100-h-100, .header__back-shape, .footer__back-shape {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button, .header__section > nav button, .main-infos__form button, .showcase__item--infos button, .showcase__button, .share__form button {
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
  font-family: "HelveticaNeueRegular", sans-serif;
  color: #888;
  cursor: pointer;
}
.button:hover, .header__section > nav button:hover, .main-infos__form button:hover, .showcase__item--infos button:hover, .showcase__button:hover, .share__form button:hover {
  background-color: #f0f0f0;
}

.showcase-section__title-container, .showcase__wrapper > div:first-of-type, .share__wrapper > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showcase-section__span, .showcase__wrapper > div:first-of-type span, .share__wrapper > div:first-of-type span {
  height: 2px;
  background-color: #888;
}

.showcase-section__h2, .showcase__wrapper > div:first-of-type h2, .share__wrapper > div:first-of-type h2 {
  font-family: "HelveticaNeueBold", sans-serif;
  color: #888;
  text-align: center;
}

.labels, .main-infos__form label, .share__form label {
  font-size: 0.75rem;
  letter-spacing: 0.06rem;
}

.non-radio-labels, .main-infos__form > label, .share__form label {
  display: block;
  margin: 1.25rem 0 0.44rem;
}

.inputs, .main-infos__form > input, .share__form input {
  font-family: inherit;
  color: inherit;
  border: 1px solid #707070;
  width: 100%;
  height: 1.875rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 24.875rem;
}

.header__back-shape {
  background-color: #707070;
}
.header__back-shape::after {
  position: absolute;
  bottom: 0;
  content: "";
  border-top: 8.5rem solid transparent;
  border-left: 100vw solid #fff;
}

.header__section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.header__section > div {
  padding-left: 1rem;
  padding-right: 2.875rem;
  color: #fff;
}
.header__section h2, .header__section h3 {
  font-family: "HelveticaNeueRegular", sans-serif;
  letter-spacing: 0.04rem;
  margin: 0;
}
.header__section h2 {
  font-size: 1.25rem;
}
.header__section h1 {
  font-family: "HelveticaNeueBold", sans-serif;
  font-size: 2.5rem;
  margin: 0 0 0.5rem;
}
.header__section h3 {
  font-size: 0.875rem;
}
.header__section > nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.25rem;
  width: 17.625rem;
  margin: 3.5rem auto 0;
  justify-items: center;
}
.header__section > nav a {
  text-decoration: none;
}
.header__section > nav button {
  height: 2.5rem;
  width: 8rem;
  box-shadow: 0px 1px 6px #00000029;
  font-size: 0.875rem;
}

.main-infos {
  padding: 0 1rem;
  font-family: "HelveticaNeueRegular", sans-serif;
  color: #888;
}
.main-infos > div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.main-infos__wrapper {
  max-width: 32.5rem;
}
.main-infos__wrapper > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-infos__wrapper > div h2 {
  font-size: 1.25rem;
  margin: 0 0.5rem 0 0;
  letter-spacing: 0.07rem;
}
.main-infos__wrapper > div a {
  text-decoration: none;
  align-self: flex-start;
}
.main-infos__wrapper > div span {
  width: 1.125rem;
  display: block;
}
.main-infos__wrapper > div span img {
  width: 100%;
}
.main-infos__wrapper p {
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  margin: 0;
}
.main-infos__wrapper p:first-of-type {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.main-infos__form {
  max-width: 24.25rem;
  width: 100%;
}
.main-infos__form label:first-of-type {
  margin: 1.875rem 0 0;
}
.main-infos__form > div {
  margin: 1.25rem 0;
}
.main-infos__form > div input {
  vertical-align: middle;
  margin: 0;
}
.main-infos__form > div input:last-of-type {
  margin-left: 2.5rem;
}
.main-infos__form button {
  width: 100%;
  height: 2.4375rem;
  font-size: 1rem;
  letter-spacing: 0.06rem;
}

.showcase {
  width: 100%;
  margin-top: 5.68rem;
}

.showcase__wrapper > div:first-of-type span {
  width: calc(50% - 6.7rem);
  min-width: 6.3rem;
}
.showcase__wrapper > div:first-of-type h2 {
  font-size: 1.125rem;
  margin: 0 1rem;
}
.showcase__wrapper > div:last-of-type {
  padding-left: 0.56rem;
  max-width: 26.25rem;
  margin: 0 auto;
}

.showcase__list {
  max-width: 24.5rem;
  width: 96%;
  padding: 0;
  display: grid;
  gap: 1.875rem;
  margin-top: 1.43rem;
}

.showcase__item {
  display: flex;
  justify-content: space-between;
}

.showcase__item--image {
  width: 47%;
  height: 8.0625rem;
  text-align: center;
  border: 1px solid #707070;
  overflow: hidden;
  max-width: 10.56rem;
}

.showcase__item--infos {
  width: 51.03%;
  color: #888;
  font-family: "HelveticaNeueRegular", sans-serif;
}
.showcase__item--infos span {
  display: block;
}
.showcase__item--infos button {
  width: 100%;
  height: 1.875rem;
  font-size: 1rem;
  margin-top: 0.815rem;
}

.showcase__item--product-name {
  font-size: 0.875rem;
  margin-bottom: 0.8125rem;
}

.showcase__item--description {
  display: none;
}

.showcase__item--old-price,
.showcase__item--installment-price {
  font-size: 0.75rem;
}

.showcase__item--new-price {
  font-family: "HelveticaNeueBold", sans-serif;
  font-size: 1rem;
  margin: 0.375rem 0;
}

.showcase__button {
  margin: 3.31rem auto 0;
  display: block;
  max-width: 16.25rem;
  width: 100%;
  height: 2.44rem;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

.share {
  font-family: "HelveticaNeueRegular", sans-serif;
  color: #888;
  margin-top: 8.06rem;
}
.share__wrapper > div:first-of-type span {
  width: calc(50% - 6.7rem);
}
.share__wrapper > div:first-of-type h2 {
  font-size: 1.125rem;
  margin: 0 0.3rem;
}
.share__wrapper > p {
  font-size: 0.875rem;
  color: #888;
  text-align: center;
  margin: 1.75rem 0;
}
.share__wrapper > div:last-of-type {
  padding-left: 0.56rem;
  max-width: 26.25rem;
  margin: 0 auto;
}
.share__form {
  width: 95%;
  max-width: 24.44rem;
}
.share__form button {
  width: 100%;
  max-width: 16.25rem;
  height: 2.43rem;
  margin: 2.62rem auto 0;
  display: block;
  font-size: 1rem;
}

.footer {
  position: relative;
  height: 9.875rem;
  margin-top: 5.3rem;
}

.footer__back-shape {
  background-color: #707070;
}
.footer__back-shape::after {
  position: absolute;
  top: 0;
  content: "";
  border-bottom: 3.19rem solid transparent;
  border-left: 100vw solid #fff;
}

.footer__infos {
  position: absolute;
  bottom: 35%;
  left: 0;
  transform: translateY(50%);
  font-family: "HelveticaNeueRegular";
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  width: 100%;
  letter-spacing: 0.04rem;
  line-height: 1.5;
}
.footer__infos span {
  display: block;
}

@media (min-width: 23.5rem) {
  .header__section > nav {
    width: 21.625rem;
    justify-items: start;
  }
  .header__section > nav button {
    width: 10rem;
  }
}
@media (min-width: 37.5rem) {
  .header__section > div {
    text-align: center;
  }
}
@media (min-width: 50rem) {
  .header__section > nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    justify-items: center;
    width: 48rem;
  }
}
@media (min-width: 60rem) {
  .main-infos__wrapper > div span {
    display: none;
  }

  .main-infos > div {
    align-items: flex-start;
    flex-direction: row;
    max-width: 57.5rem;
  }
  .main-infos__form {
    max-width: 21.25rem;
  }
  .main-infos__wrapper p {
    letter-spacing: 0.03rem;
  }
  .main-infos__form label:first-of-type {
    margin: 0;
  }

  .showcase__wrapper,
.share__wrapper {
    max-width: 57.75rem;
    margin: 0 auto;
  }

  .showcase__wrapper > div:last-of-type {
    padding-left: 0;
    max-width: none;
  }
  .showcase__list {
    width: 100%;
    max-width: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 3.125rem;
  }
  .showcase__item {
    width: 12.5rem;
    flex-direction: column;
    align-items: center;
  }
  .showcase__item--image, .showcase__item--infos {
    width: 100%;
  }
  .showcase__item--image {
    height: 9.375rem;
    margin-bottom: 0.875rem;
    max-width: none;
  }
  .showcase__item--description {
    display: block;
    font-size: 0.75rem;
  }

  .share__wrapper > div:last-of-type {
    max-width: 45rem;
    padding: 0;
  }
  .share__form {
    max-width: none;
  }
  .share__form--fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .share__form--fields div {
    max-width: 21.25rem;
    width: 47.23%;
  }

  .footer {
    height: 18.3rem;
  }
  .footer::after {
    border-bottom: 5.75rem solid transparent;
  }
}/*# sourceMappingURL=index.css.map */